.cart-container {
  justify-content: center;
  display: flex;
  height: 75vh;
  width: 100%;
}
.cart-item {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  max-width: 80%;
}
.cart-item-text {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-left: 1rem;
}
.cart-total-text {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-left: 1rem;
}