.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px; /* Adjust the gap size as needed */
  justify-items: center; /* Center items horizontally */
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
.home-title{
  text-align: center;
  margin: 20px;
  padding: 0;
  margin-bottom: 1rem;
}